# Virtual Environment & Caches
venv/
.venv/
env/
__pycache__/
.cache/
*.py[cod]

# IDE / Editor specific settings
.idea/
.vscode/

# Python artifacts
*.pyc
*.pyo
*.pyd

# Environment variables file
.env
.env.local
# --- 补充配置 ---
.DS_Store
*.pdf
Thumbs.db